/*********************
Esther Tzau
COMP20
Lab 4
Responsive style sheet
**********************/


/* Airplane Safety - Top-left*/
.software{
	background: url("software.png") 0 0;
	width: 440px;
	height: 590px;
}

/*Elevator Safety - Top middle*/
@media screen and (min-width: 1000px) and (max-width: 1200px) {
	.software{
		background: url("software.png") 770px 0px;
		width: 440px;
		height: 590px;
	}
}

/*Computerized Voting - top right*/
@media screen and (min-width: 800px) and (max-width: 1000px){
	.software{
		background: url("software.png") 330px 0px;
		width: 330px;
		height: 590px;
	}
}

/* Wait, Really? - bottom left*/
@media only screen and (min-width: 600px) and (max-width: 800px) {
	.software{
		background: url("software.png") 0 617px;
		width: 720px;
		height: 620px;
	}
}

/* Blockchain - bottom-right */
@media only screen and (min-width: 0px) and (max-width: 600px) {
	.software{
		background: url("software.png") 480px 620px;
		width: 480px;
		height: 620px;
	}
}




	

